<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-n9CRHnuSI7yISuFOL1UR4jztk8RPlGEe9RL2NMpVWqhHrJ59ZGV6iJPmG0veX5S0" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkInuTyfk7lpG8Ch6gz79cMUMdD66cbHIl9BvOitH7pPTPV2YUpXfG0W9SInv0N" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviUU0Wof8/baQnuG7fN7Csaig7BRfhk7VmeSloEP9S2iTrE5vMXUASidvvV22" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          throwOnError : false
        });
    });
</script>